<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于我们</h2>
                <hr class="light">
                <p class="text-faded">Taqic致力于高品质光源的设计生产。基于国际照明委员会 （CIE） 1931色彩空间XYZ三刺激LED灯具。从教室照明，标准光源，对色灯箱。团队毕业于国内外重点大学，均具有10年以上工程研发经验，追求完美，逻辑严谨的职业素养</p>
                <a href="#" class="btn btn-default btn-xl">开始!</a>
            </div>
        </div>
    </div>
</section>
