<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">产品/服务</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>中小学校及幼儿园教室照明</h3>
                    <p class="text-muted">Taqic教室照明产品基于新修订的上海市地方标准DB31/T 539-2020《中小学校及幼儿园教室照明设计规范》设计。充足的余量设计保证灯具在产品生命周期始终输出恒定光通量，规避LED光衰。减少学校的灯具检测更换成本支出</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>医疗照明</h3>
                    <p class="text-muted">研究结果表明光疗已经被证明是情感障碍的有效治疗手段.照明对心理健康的影响可能通过多种生理、心理因素中介,例如激素、脑电、心理效应等.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>特种光源</h3>
                    <p class="text-muted">基于客户需求定制高精度色温，显指，光谱灯具.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>摄影/直播间照明</h3>
                    <p class="text-muted">色温、显指准、LED功效高、光衰低.</p>
                </div>
            </div>
        </div>
    </div>
</section>
